
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="add">Add Resto </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" routerLink="update/:id">Update Resto</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" routerLink="list">List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="register">Register</a>
        </li>
      </ul>
  
    </div>
  </nav> 
  <div class="container">
  <router-outlet></router-outlet>
  <div class="footer">
    <p>Copy Rights By  &copy; Nilesh Sarak</p>
  </div>
  </div> 
  
  
  
  
  