<h1> Add Restaurant Form </h1>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> You Data Is Added SuccessFully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form [formGroup]="addRestoForm" (ngSubmit)="createResto()">
    <div class="form-group">
        <label>Restaurant Name</label>
        <input type="test" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label> Restaurant Address</label>
        <input type="text" class="form-control" formControlName="address">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>