<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> You Data Is Deleted SuccessFully.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id </th>
        <th scope="col">Name</th>
        <th scope="col">Restaurant</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        
      </tr>
      
    </thead>
    <tbody>
   <tr *ngFor="let resto of collectionList">
     <td>{{ resto.id }}</td>
     <td>{{ resto.name }}</td>
     <td>{{ resto.address }}</td>
     <td>{{ resto.email }}</td>
     <td><a routerLink="/update/{{ resto.id }}"><i class="fa fa-edit" style="font-size:30px;color:rgb(0, 255, 115)"></i> </a>&nbsp;&nbsp;
    
      <button (click)="deleteResto(resto.id)"><i class="fa fa-trash" style="font-size:30px;color:red"> </i></button></td>
   
   </tr>
    </tbody> 
  </table>
</div>