<h1> Register  New User for Restaurant </h1>

<!-- <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> You Data Is Added SuccessFully.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeAlert()">
        <span aria-hidden="true">&times;</span>
    </button>
</div> -->

<form [formGroup]="createUserForm"  (ngSubmit)="createNewUser()">
    <div class="form-group">
        <label><b>Your Name</b></label>
        <input type="test" class="form-control" formControlName="name" placeholder="Please Enter your Name ">
    </div>
    <div class="form-group">
        <label> <b>Email</b></label>
        <input type="email" class="form-control" formControlName="email" placeholder="Please Enter your email">
    </div>
    <div class="form-group">
        <label> <b>Password</b> </label>
        <input type="password" class="form-control" formControlName="password" placeholder="Create your Password">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>